{% extends 'home/base.html' %}

{% block content %}
<style>
    .align{
        text-align: center;
    }
</style>
<main>
    <div class="container ">
        <div class="row d-flex justify-content-center">
            <div class="col-md-15 ">
                <div class="row z-depth-3">
                    <div class="col-sm-8 bg-white roundedi-right pb-5 px-5 br">
                      <h3 class="mt-3 text-center">Contact Us</h3>
                      <hr>
                      <div class="row">
                        <div class="col-sm-12 align">
                          <p class="bold">Email:</p>
                          <h6 class="text-muted">iitkcoas@gmail.com</h6>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-12 align">
                          <p class="bold">Phone:</p>
                          <h6 class="text-muted">+91 XXXXXXXXXX</h6>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}