{% extends 'home/base.html' %}

{% block content %}
<style>
  main{
    padding-right: 50%;
  }
</style>
  <main>
    <article class="op">
      <h2>Motivation</h2>
      <p>We are stuck in times when we have wanted the luxury of not waiting in queues and crowds. Luxury of staying in the comforts of your room until the food is ready. Technology has been solving many of our modern problems. So, we present COAS for you. COAS is trying to satisfy your "luxury-appetites". Order your favourite food fromyour favourite canteen in our campus. And to make life easier, make payments later without having the canteen owner apprehensive of managing your due accounts, because COAS is your mutual friend. <br>
      As a friend of the canteen owner, COAS helps in easy and quick updation of menu,where the owner need not face "Bhaiyya, it is 40 rupees written here, when did it become 45" or having to reply, "No, we don't have this in today's menu" to 20 customers.<br>
      Further, we are striving to make your life easier by bringing in choice for online remote payment, food delivery and track your orders.</p>
    </article>
    <article class="op">
    <h2>About Us</h2>
      <p>
        We are team Hardwired, group of 10 members. We are students of IIT Kanpur who have took up the project in our journey of learning concepts of Software Development.
      </p>
    </article>
  </main>
{% endblock %}