{% extends 'home/base.html' %}

{% block content %}
  <main>
    <article class="op">
      <h2>Motivation</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt porro et veniam dignissimos vel quidem, laudantium explicabo facilis, dolore corporis est, commodi reprehenderit dolor quam ullam qui. Libero, voluptate necessitatibus enim molestias incidunt atque quibusdam vero doloribus amet? Possimus fugit sint porro hic tenetur inventore vel totam iure cupiditate nulla voluptate unde enim, molestias doloremque alias quibusdam maxime aliquam modi consequatur quam ducimus iusto? Quasi suscipit reiciendis corporis cupiditate quaerat in excepturi, amet magnam facilis ratione error sit eveniet eligendi, quae sequi unde soluta quo aliquid nobis earum. Id optio repudiandae incidunt ullam alias ratione quisquam facilis, vitae fuga hic.
      </p>
    </article>
    <article class="op">
    <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt porro et veniam dignissimos vel quidem, laudantium explicabo facilis, dolore corporis est, commodi reprehenderit dolor quam ullam qui. Libero, voluptate necessitatibus enim molestias incidunt atque quibusdam vero doloribus amet? Possimus fugit sint porro hic tenetur inventore vel totam iure cupiditate nulla voluptate unde enim, molestias doloremque alias quibusdam maxime aliquam modi consequatur quam ducimus iusto? Quasi suscipit reiciendis corporis cupiditate quaerat in excepturi, amet magnam facilis ratione error sit eveniet eligendi, quae sequi unde soluta quo aliquid nobis earum. Id optio repudiandae incidunt ullam alias ratione quisquam facilis, vitae fuga hic.
      </p>
    </article>
  </main>
{% endblock %}