<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login_Page</title>
    {% load static %}
    <link rel="stylesheet"  href="{% static 'home/login.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'home/icon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'home/icon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'home/icon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'home/icon/site.webmanifest' %}">
  </head>
  <body>
    <div class="center">
      <div class="head">
        <img src="{% static 'home/iitk_logo.jpg' %}" id="img" />
        <h1>IIT Kanpur</h1>
      </div>
      <div class="body">
        <h1 id="l">Login</h1>
        <form action="{% url 'auto:login' %}" method="post" >
          {% csrf_token %}
          <div class="txt_field">
            <input type="text" required placeholder="Username" name="username" />
            <span></span>
          </div>
          <div class="txt_field">
            <input type="password" required placeholder="Password" name="password"/>
            <span></span>
          </div>
          <input type="submit" value="Login"/>
          {% if error %}
          <div class="signup_link">Invaild Username or Password!</div>
          {% endif %}
          <div class="signup_link">New User? <a href="{% url 'auto:register' %}">Register</a></div>
        </form>
      </div>
    </div>
  </body>
</html>