{% extends 'home/base_owner.html' %}

{% block content %}
<style>
  .card-body p{
    margin-bottom: 4px;
  }
  .ud{
    text-decoration: none;
  }
  .ud:hover{
    text-decoration: underline;
  }
  .align{
    text-align: center;
  }
</style>

  <main>
    <div class="card p-3 mb-5" style="width: 18rem; margin-left: 40%;">
        <div class="card-body ">
          <h5 class="card-title align">ADD ITEM</h5>
        </div>
        <form>
            <p class="card-text">Item Name : <input type=text></p>
            <p class="card-text">Price : <input type=number min=0 max=1000 ></p>
            <p class="card-text">Availibility : 
                <input type="radio" name="avail">
                 <label>Yes</label>
                 <input type="radio" name="avail">
                 <label>No</label>
            </p>
            <p class="card-text">Is Veg : 
                <input type="radio" name="isveg">
                 <label>Yes</label>
                 <input type="radio" name="isveg">
                 <label>No</label>
            </p>
            <a href="#" class="btn btn-primary right">Add Item</a>
        </form>
    </div>
    <div class="row pb-5">
      {% for item in items %}
        <div class="col-sm-3">
          <div class="card p-2">
            <div class="card-body">
                <form>
                    <p class="card-text">Item Name : <input type=text style="width: 100%;" ></p>
                    <p class="card-text">Price : <input type=number min=0 max=1000 ></p>
                    <p class="card-text">Availibility : 
                        <input type="radio" name="avail">
                         <label for="html">Yes</label>
                         <input type="radio" name="avail">
                         <label for="css">No</label>
                    </p>
                    <p class="card-text">Is Veg : 
                        <input type="radio" name="isveg">
                         <label>Yes</label>
                         <input type="radio" name="isveg">
                         <label>No</label>
                    </p>
                    <p class="card-text">Averate Rating : {{it.rating}}</p>
                    <a href="#" class="btn btn-primary right">Save</a>
                </form>
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:4 and forloop.counter > 0 %}
          </div><div class="row pb-5">
        {% endif %}
        {% endfor %}
    </div>
  </main>

{% endblock %}