{% extends 'home/base.html' %}

{% block content %}
<style>
  .card-body p{
    margin-bottom: 4px;
  }
  .ud{
    text-decoration: none;
  }
  .ud:hover{
    text-decoration: underline;
  }
  .align{
    text-align: center;
  }
</style>

  <main>
    <div class="card p-3 mb-5 br" style="width: 25%; margin-left: 40%;">
        <div class="card-body ">
          <h5 class="card-title align">ADD ITEM</h5>
        </div>
        <form action="{% url 'auto:ownermenu' 1 0 hall %}" method="post">
          {% csrf_token %}
            <p class="card-text">Item Name : <input type=text name="item" class="right" style="width: 65%;"></p>
            <p class="card-text">Price : <input type=number name="price" min=0 max=1000 ></p>
            <p class="card-text">Availibility : 
                <input type="radio" name="avail" value="1">
                 <label>Yes</label>
                 <input type="radio" name="avail" value="0">
                 <label>No</label>
            </p>
            <p class="card-text">Is Veg : 
                <input type="radio" name="isveg" value="1">
                 <label>Yes</label>
                 <input type="radio" name="isveg" value="0">
                 <label>No</label>
            </p>
            <input type="submit" class="btn btn-primary right" value="Add Item">
        </form>
    </div>
    <div class="row pb-5">
      {% for item in items %}
        <div class="col-sm-3">
          <div class="card p-2 br">
            <div class="card-body">
                <form action="{% url 'auto:ownermenu' 0 item.id item.hall %}" method="post" >
                  {% csrf_token %}
                    <p class="card-text">Item Name : <input type=text value="{{item.item}}" name="item" style="width: 60%;"  ></p>
                    <p class="card-text mt-3">Price : <input type=number value="{{item.price}}" name="price" min=0 max=1000    ></p>
                    <p class="card-text mt-3">Availibility : 
                      {% if item.avail == 1 %}
                        <input type="radio" name="avail" value="1" checked>
                         <label>Yes</label>
                         <input type="radio" name="avail" value="0">
                         <label>No</label>
                      {% else %}
                      <input type="radio" name="avail" value="1">
                      <label>Yes</label>
                      <input type="radio" name="avail" value="0" checked>
                      <label>No</label>
                      {% endif %}
                    </p>
                    <p class="card-text mt-3">Is Veg : 
                      {% if item.isveg == 1 %}
                        <input type="radio" name="isveg" value="1" checked>
                         <label>Yes</label>
                         <input type="radio" name="isveg" value="0">
                         <label>No</label>
                      {% else %}
                        <input type="radio" name="isveg" value="1">
                        <label>Yes</label>
                        <input type="radio" name="isveg" value="0" checked>
                        <label>No</label>
                      {% endif %}
                    </p>
                    <input type="submit" class="btn btn-primary right" value="Save">
                    <a href="{% url 'auto:ownermenu' 2 item.id item.hall %}" class="btn btn-primary left mt-1">Delete</a>
                </form>
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:4 and forloop.counter > 0 %}
          </div><div class="row pb-5">
        {% endif %}
        {% endfor %}
    </div>
  </main>

{% endblock %}