{% extends 'home/base.html' %}

{% block content %}

<style>
  .align{
    text-align: center;
  }
  .margin{
    margin-left: 40%;
  }
</style>

  <main>
    <div class="card margin align mb-5" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Unpaid Bills</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><p>Total: ₹{{total}}</p></li>
      </ul>
    </div>
    <div class="row pb-5">
      {% for order in orders %}
      <div class="col-sm-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{order.item.item}}</h5>
            <p class="card-text">Quantity : {{order.quantity}} </p>
            <p class="card-text">Price : ₹{{order.item.price}} </p>
            {% if order.paystatus == '1' %}
            <p class="card-text">PayStatus : Paid </p>
            {% else %}
            <p class="card-text">PayStatus : Unpaid </p>
            {% endif %}
            <form action="#" method="post" >
              {% csrf_token %}
              Rating:
              <input id=demoInput type=number min=0 max=5 name="rate" value="{{Reviews.rating}}">
            <a href="#" class="btn btn-primary right mt-2">Rate</a>
          </div>
        </div>
      </div>
      {% if forloop.counter|divisibleby:6 and forloop.counter > 0 %}
        </div><div class="row pb-5">
      {% endif %}
      {% endfor %}
    </div>
  </main>

{% endblock %}