<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/registration.css' %}">
    <title>Registration Page</title>
</head>
<body>
    <div class="container">
        {% comment %} <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Holy guacamole!</strong> You should check in on some of those fields below.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div> {% endcomment %}
        <div class="title">Register</div>
        <form action="{% url 'auto:register' %}" method="post">
            {% csrf_token %}
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Username</span>
                    <input type="text" placeholder="Enter your iitk cc username" name="usern">
                </div>
                <div class="input-box">
                    <span class="details">Roll Number</span>
                    <input type="text" placeholder="Enter your Rollno" name="roll">
                </div>
                <div class="input-box">
                    <span class="details">Mail</span>
                    <input type="email" placeholder="Enter your iitk mail id" name="email">
                </div>
                <div class="input-box">
                    <span class="details">Phone Number</span>
                    <input type="tel" placeholder="Enter your Phone Number" name="phone">
                </div>
                <div class="input-box">
                    <span class="details">Password</span>
                    <input type="password" placeholder="Enter your password" name="passw">
                </div>
                <div class="input-box">
                    <span class="details">Confrim Password</span>
                    <input type="Password" placeholder="Re-Enter your password">
                </div>
                <div class="input-box">
                    <span class="details">Hall</span>
                    <input type="number" min="1" max="13" placeholder="Enter your hall number" name="hall">
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Register">
            </div>
        </form>
    </div>
</body>
</html>