<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/registration.css' %}">
    <title>Registration Page</title>
</head>
<body>
    <div class="container">
        <div class="title">Register</div>
        <form action="{% url 'auto:register' %}" method="post" >
            {% csrf_token %}
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Full Name</span>
                    <input type="text" placeholder="Enter your name" name="usern">
                </div>
                <div class="input-box">
                    <span class="details">Roll Number</span>
                    <input type="text" placeholder="Enter your Rollno" name="roll">
                </div>
                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="email" placeholder="Enter your email" name="email">
                </div>
                <div class="input-box">
                    <span class="details">Phone Number</span>
                    <input type="tel" placeholder="Enter your Phone Number" name="phone">
                </div>
                <div class="input-box">
                    <span class="details">Password</span>
                    <input type="password" placeholder="Enter your password" name="passw">
                </div>
                <div class="input-box">
                    <span class="details">Confrim Password</span>
                    <input type="Password" placeholder="Re-Enter your password">
                </div>
            </div>
            <div class="gender-details">
                <input type="radio" name="isStaff" value="False" id="dot-1">
                <input type="radio" name="isStaff" value="True" id="dot-2">
                <span class="gender-title">Role</span>
                <div class="category">
                    <label for="dot-1">
                        <span class="dot one"></span>
                        <span class="gender">Student</span>
                    </label>
                    <label for="dot-2">
                        <span class="dot two"></span>
                        <span class="gender">Staff</span>
                    </label>
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Register">
            </div>
        </form>
    </div>
</body>
</html>