<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/registration.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'home/icon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'home/icon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'home/icon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'home/icon/site.webmanifest' %}">
    <title>Registration Page</title>
    <script>
        function check_pass() {
            if (document.getElementById('passw').value == document.getElementById('passw1').value)
            {
                document.getElementById('message').innerHTML = '';
                document.getElementById('submit').disabled = false;
            }
            else 
            {
                document.getElementById('message').innerHTML = 'Password and Confirm Password are not matching';
                document.getElementById('submit').disabled = true;
                document.getElementById('message').style.opacity = 0.5;
            }
        }
    </script>
</head>
<body>
    <div class="container">
        {% comment %} <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Holy guacamole!</strong> You should check in on some of those fields below.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div> {% endcomment %}
        <a style="opacity:0.5; color:black; text-decoration: none;" class="details " href="{% url 'auto:login' %}">Back to Login</a>
        <div class="title">Register</div>
        <form action="{% url 'auto:register' %}" method="post">
            {% csrf_token %}
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Username</span>
                    <input type="text" placeholder="Enter your iitk cc username" name="usern" required>
                    {% if error %}
                    <span style="opacity:0.5;" class="details">Username already exists</span>
                    {% endif %}
                </div>
                <div class="input-box">
                    <span class="details">Roll Number</span>
                    <input type="tel" placeholder="Enter your Rollno" name="roll" pattern="[0-9]{6}" required>
                </div>
                <div class="input-box">
                    <span class="details">Mail</span>
                    <input type="email" placeholder="Enter your iitk mail id" name="email" required>
                </div>
                <div class="input-box">
                    <span class="details">Phone Number</span>
                    <input type="tel" placeholder="Enter your Phone Number" name="phone" pattern="[0-9]{10}" required>
                </div>
                <div class="input-box">
                    <span class="details">Password</span>
                    <input type="password" placeholder="Enter your password" name="passw" id="passw" onchange='check_pass();' required>
                </div>
                <div class="input-box">
                    <span class="details">Confirm Password</span>
                    <input type="password" placeholder="Re-Enter your password" name="passw1" id="passw1" onchange='check_pass();' required>
                    <span id="message" class="details"></span>
                </div>
                <div class="input-box">
                    <span class="details">Hall</span>
                    <input type="number" min="1" max="13" placeholder="Enter your hall number" name="hall" required>
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Register" id="submit" disabled>
            </div>
        </form>
    </div>
</body>
</html>