<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/register.css' %}">
    <title>Register</title>
</head>
<body>
    <form action="{% url 'auto:register' %}", class="formCont" method="post">
        {% csrf_token %}
        <h1>Register</h1>
        <input type="username" name="usern" placeholder="Username">
        <input type="password" name="passw" placeholder="Password">
        <input type="email" name="email" placeholder="emal">
        <input type="number" name="roll" placeholder="roll">
        <input type="number" name="phone" placeholder="Phone">
        <input type="radio" name="isStaff" value="True" id="stTrue">
        <label for="stTrue">Staff</label>
        <input type="radio" name="isStaff" value="False" id="stFalse">
        <label for="stFalse">Student</label>
        <input type="submit" value="Submit">
    </form>
</body>
</html>